form {
	margin-left: 376px;
}

input[type=text], input[type=password] {
	width: 157%;
    height: 50px;
    margin: -4px 0;
    margin-left: -4px;
    display: list-item;
    margin-left: 0px;
}

button {
	background-color: rgb(65, 105, 179);
	color: white;
	padding: 14px 20px;
	margin-top: 25px;
	border: none;
	cursor: pointer;
	width: 385px;
}