
.navbar-nav {
	 width: 102%;
    margin-top:0px !important;
	background-color: #2986db;
	margin: 10px 0px 0px 0px;
	height: 100px;
}  
.header_list{
	color: white;
    font-family: cursive;
    font-size: 20px;
    margin-top: 16px;
    padding-left: 70px;
}
body{
	background-color: white;
}