
.navbar-nav {
	 width: 102%;
    margin-top:0px !important;
	background-color: rgba(3, 57, 103, 0.37);
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
}  

body{
	background-color: rgba(0, 0, 0, .075);
}